.Profil{
    color: black;
    text-align: center
}

.ImageProfil{
    display: flex;
    margin: auto auto;
}

.NombrePoints{
    color: black;
    text-align: center
}

.Votes{
    color: black;
    text-align: center
}

.Propositions{
    color: black;
    text-align: center
}

.hro {
    color: black;
}