.Profil{
    color: black;
    text-align: center;
    font-family: "Titre";
}

.ImageProfil{
    display: flex;
    margin: auto auto;
    max-width: 60%;
}

.NombrePoints{
    color: black;
    text-align: center;
    font-family: "Titre";
}

.Votes{
    color: black;
    text-align: center;
    font-family: "Titre";
}

.Propositions{
    color: black;
    text-align: center;
    font-family: "Titre";
}

.NombresPoints2{
    color: black;
    text-align: center;
    font-family: "Titre";
    background-color: rgb(192,192,192, 0.5)
}

.hro {
    color: black;
}