.Profil{
    color: black;
    text-align: center;
    font-family: "Titre";
    padding-top: 20px;
}

.ImageProfil{
    display: flex;
    margin: auto auto;
    max-width: 40%;
    padding-top: 20px;
}

.NombrePoints{
    color: black;
    text-align: center;
}

.Votes{
    color: black;
    text-align: center;
}

.Propositions{
    color: black;
    text-align: center;
}

.NombresPoints2{
    color:white;
    background-color:#3CB371;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-color: #3CB371;
    width: 60%;
    font-size: 160%;
    display: block;
    margin : auto;

}

.firstName{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projett{
    text-align: center;
}