@font-face{
    font-family: "Titre";
    src: url('LemonMilkbold.otf')
  }

body{
    background-color: #1652F0;
}

.Citoyen{
    color: white;
    text-align: center;
    font-family: "Titre";
    font-size: 450%;
    margin-top: 10%;
}

.PropositionProjet{
    display: flex;
    margin: auto auto;
    margin-top: 5%;
    font-family: "Titre";
    font-size: 200%;
    margin-top: 40%
}

.ConsultationProjet{
    display: flex;
    margin: auto auto;
    margin-top: 5%;
    font-family: "Titre";
    font-size: 200%;
}