body{
    background-color: #1652F0;
}

.Citoyen{
    color: white;
    text-align: center
}

.PropositionProjet{
    display: flex;
    margin: auto auto;
    margin-top: 5%
}

.ConsultationProjet{
    display: flex;
    margin: auto auto;
    margin-top: 5%
}