.image {
  max-width: 28px;
  vertical-align: middle;
}

.navbar2{
  display: flex;
  justify-content: space-around;
  height: 80px;
  box-shadow: 0px 0px 10px rgb(189, 189, 189);
}

.navbrand{

  flex-direction: column;
  display: flex;
  align-items: center;
}

.link {
  color: black;
  
}