.Prénom{
    margin-left: 40%;
    font-weight: bold;
}

.PrénomInput{
    margin-left: 20%;
    font-weight: bold;
}

.DLimage{
    margin-left: 25%;
    font-weight: bold
}

.DLimage2{
    margin-left: 10%;
    font-weight: bold;
}

.Mail{
    margin-left: 38%;
    font-weight: bold;
}

.MailInput{
    margin-left: 20%;
    font-weight: bold;
}

.mdp{
    margin-left: 32%;
    font-weight: bold;
}

.mdp2{
    margin-left: 20%;
    font-weight: bold;
}

.confirmation{
    margin-left: 32%;
    font-weight: bold;
}

.confirmation2{
    margin-left: 20%;
    font-weight: bold;
}

.buttonnn{
    margin-left: 28%;
    font-weight: bold;
    padding-top: 7%;
}