.Projet{
    color: white;
    text-align: center
}

.ImageProjet{
    display: flex;
    margin: auto auto;
}

.DescriptionTitre{
    color: white;
    text-align: center
}

.DescriptionProjet{
    color: white;
    text-align: center
}

.CommentairesTitre{
    color: white;
    text-align: center
}

.Commentaires{
    color: white;
    text-align: center
}

.Points{
    color: white;
    text-align: center
}

.Resultats{
    color: white;
}

.Counttt{
    display: flex;
    justify-content: center;
}