body{
    background-color: #0520A3;
}

h1{
    color: white;
    text-align: center
}

.PropositionProjet{
    display: flex;
    margin: auto auto;
    margin-top: 5%
}

.ConsultationProjet{
    display: flex;
    margin: auto auto;
    margin-top: 5%
}